@import 'setings';
@import 'fonts';
@import "normalize";
@import "layout";

.db-player {
	padding-top: 200px;
	max-width: 600px;
	margin: 0 auto;

	@media screen and (max-width: 728px) {
	   padding: 120px 20px;
}
	
	&__box {
		display: flex;
	}

	&__image-bg {
		background: $primary-color;
		width: 200px;
		height: 200px;
		z-index: 3;

		@media screen and (max-width: 728px) {
			width: 150px;
			height: 150px;
			margin-top: 50px;
	}
	}

	&__name {
		background: $light-green;
		margin-top: 149px;
		border: 1px solid $black;
		position: relative;
		z-index: 2;
		
		& p {
			text-transform: uppercase;
			color: $primary-color;
			font-size: 36px;
			line-height: 42px;
			padding: 5px 82px 2px 25px;

			@media screen and (max-width: 728px) {
					font-size: 18px;
					padding: 5px 62px 2px 25px;
			}
			@media screen and (max-width: 376px) {
				font-size: 14px;	
				padding: 5px 28px 2px 25px;
		}
		}
	}
	&__strip {
		position: absolute;
		left: 0;
		height: 50px;
		width: 6px;
		border: 1px solid $black;
		background: $orange;
	}

	&__name-team {
		background: $primary-color;
		padding: 24px 282px 24px 32px;

		& p {
			font-size: 36px;
			line-height: 42px;
			white-space: pre;
			color: $white;

			@media screen and (max-width: 728px) {
				font-size: 28px;
				
		}
		}
	}
}
